@import "colors";
@import "reset";
@import "mixin";
@import "helpers";


.page-container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}
.page-blog h1,
.page-blog h2,
.page-blog h3,
.page-blog h4,
.page-blog h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.page-blog p {
  margin-bottom: 20px;
}
.page-blog img {
  margin-bottom: 20px;
}