@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --customFont: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --defaultFontSize: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

body {
  font-family: var(--customFont);
  font-size: var(--defaultFontSize);
  color: var(--color-black);
  background-color: var(--color-grey-1);
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  font-family: inherit;
}

a {
  color: var(--color-blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul,
ol {
  list-style-type: none;
}